
body {
	background: #34495e;
	color: #fff;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #f7f7f7;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
	outline: none;
}


.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	background: rgba(0,0,0,0.01);
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}


@keyframes pulse_animation {
    0% { transform: scale(1);background: #777; }
    30% { transform: scale(1);background: #777;}
    40% { transform: scale(1.35); background: red;}
    50% { transform: scale(1); background: #777;}
    60% { transform: scale(1); background: #777;}
    70% { transform: scale(1.35);background: red; }
    80% { transform: scale(1); background: #777;}
    100% { transform: scale(1); background: #777;}
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); background: #777;}
    30% { -webkit-transform: scale(1);background: #777; }
    40% { -webkit-transform: scale(1.35);background: red; }
    50% { -webkit-transform: scale(1);background: #777; }
    60% { -webkit-transform: scale(1);background: #777; }
    70% { -webkit-transform: scale(1.35);background: red; }
    80% { -webkit-transform: scale(1);background: #777; }
    100% { -webkit-transform: scale(1); background: #777;}
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 5000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#emptyBinDiv{

	margin: 10px;
}


.tabla_tasas{

	/*width:100%;*/
	text-align:center;
}

.tabla_tasas th{
	text-align:center;
}

/******************************************************** bootstrap dropdown menu multilevel  *********************************/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/******************************************************** end bootstrap dropdown menu multilevel  *********************************/

.bottom_buffer{
	margin-bottom:35px;
}

.alignIzq{
	text-align: left;
}
.alignDer{
	text-align: right;
}

.alignCentro{
	text-align: center;
}

.zona_codigo{
	min-height: 300px;
}

/****************************** beautiful checkbox  ************************************/
.mk-trc[data-size="3"] {
    height: 40px;
    line-height: 40px;
}

.mk-trc {
    height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    display: inline-block;
    }

    .mk-trc input[type=radio], .mk-trc input[type=checkbox] {
    display: none;
}

.mk-trc label {
    height: inherit;
    display: block;
}

.mk-trc[data-color=deep-orange] input:checked+label i, .mk-trc[data-style=radio][data-color=deep-orange] input:checked+label i:before {
    background: rgba(255,87,34,1);
}

.mk-trc input:checked+label i {
    background: #2196f3;
}

.mk-trc[data-size="3"] label i {
    width: 80px;
    height: inherit;
}

.mk-trc[data-color=deep-orange] i {
    background: rgba(255,87,34,.6);
}

.mk-trc[data-color=deep-grey] i {
    background: rgba(191,188,187,1);
}

.mk-trc[data-radius=true] i {
    border-radius: 5px;
}

.mk-trc i {
    float: left;
    width: 55px;
    height: 25px;
    margin-right: 5px;
    font-style: normal;
    position: relative;
    display: inline-block;
    background: rgba(0,0,0,.3);
}

.mk-trc[data-size="3"] input:checked+label i:before {
    left: 42px;
}

.mk-trc input:checked+label i:before {
    left: 32px;
}

.mk-trc[data-size="3"] label i:before {
    width: 36px;
    height: 36px;
}

.mk-trc[data-radius=true] i:before {
    border-radius: inherit;
}

.mk-trc i:before {
    top: 2px;
    left: 2px;
    z-index: 1;
    width: 21px;
    height: 21px;
    background: #eee;
    transition: all .2s ease-in-out 0s;
}

.mk-trc i:after, .mk-trc i:before {
    content: '';
    position: absolute;
}

.mk-trc[data-text=true] input:checked+label i:after {
    left: 0;
    content: 'On';
}

.mk-trc[data-size="3"] label i:after {
    left: 42px;
    font-size: 16px;
    height: inherit;
    line-height: 40px;
}

.mk-trc[data-text=true] i:after {
    left: 22px;
    color: #eee;
    height: 25px;
    content: 'Off';
    padding: 0 4px;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    transition: all .2s ease-in-out 0s;
}

.mk-trc i:after, .mk-trc i:before {
    content: '';
    position: absolute;
}

*, :after, :before {
    box-sizing: border-box;
}

#infoMessage{
    color:red;
    font-size:1.5em;
  }

.table_th_left{
    text-align: center;
    vertical-align:middle;
}