/************************
Designed by : http://wrapbootstrap.com/user/ashobiz
************************/
/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General */
body {
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}
h1 {
	font-size: 30px;
	line-height: 45px;
}
h2 {
	font-size: 25px;
	line-height: 40px;
}
h3 {
	font-size: 22px;
	line-height: 37px;
}
h4 {
	font-size: 18px;
	line-height: 33px;
}
h5 {
	font-size: 15px;
	line-height: 30px;
}
h6 {
	font-size: 13px;
	line-height: 28px;
}
p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}
a{
	text-decoration: none;
	color: #777;
}
a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
/* Text color classes */
.white {
  color: #ffffff !important;
}
.grey {
  color: #eeeeee !important;
}
.black {
  color: #555555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.rose {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/* Background color classes */
.bg-white {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #eeeeee !important;
}
.bg-black {
  background-color: #555555 !important;
}
.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}
.bg-lblue {
  background-color: #32c8de !important;
}
.bg-blue {
  background-color: #609cec !important;
}
.bg-orange {
  background-color: #f78153 !important;
}
.bg-yellow {
  background-color: #fcd419 !important;
}
.bg-purple {
  background-color: #cb79e6 !important;
}
.bg-rose {
  background-color: #ff61e7 !important;
}
.bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
  border: 1px solid #ffffff !important;
}
.br-grey {
  border: 1px solid #eeeeee;
}
.br-black {
  border: 1px solid #555555;
}
.br-red {
  border: 1px solid #f75353;
}
.br-green {
  border: 1px solid #51d466;
}
.br-lblue {
  border: 1px solid #32c8de;
}
.br-blue {
  border: 1px solid #609cec;
}
.br-orange {
  border: 1px solid #f78153;
}
.br-yellow {
  border: 1px solid #fcd419;
}
.br-purple {
  border: 1px solid #cb79e6;
}
.br-rose {
  border: 1px solid #ff61e7;
}
.br-brown {
  border: 1px solid #d08166;
}






/* Main CSS */
body{
	background:#f4f8fd;
}
.t-line{
	max-width:1200px;
	margin:20px auto;
}
.t-line h2{
	margin-top:20px;
	font-size:35px;
	line-height:50px;
	font-weight:300;
}
@media (max-width:500px){
	.t-line h2{
		font-size:25px;
		line-height:40px;
	}
}
.h-timeline-row{
	margin: 40px 0px;
	padding-bottom: 30px; 
	border-bottom: 1px solid #e8e8e8; 
}
.h-timeline-row .entry {
	position: relative;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left:1px solid #eee !important;
	border-right:1px solid #eee !important;
	border-bottom:1px solid #eee !important;
	border-width:4px;
	background:#fff;
	color:#888;
}
.h-timeline-row .entry:after, 
.h-timeline-row .entry:before {
	position: absolute;
	top: 100%;
	left: 39px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
}
.h-timeline-row .entry:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 8px;
	margin-left: 1px;
}
.h-timeline-row .entry:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #ccc;
	border-width: 9px;
	margin-left: 0px;
}
.h-timeline-row .entry .entry-content { 
	padding: 15px; 
}
.h-timeline-row .entry .meta { 
	font-size: 13px;
	color:#aaa;	
}
.h-timeline-row .entry .entry-content h4 {
	text-transform: capitalize;
	font-weight:400;
}
.h-timeline-row .entry .entry-icon {
	position: absolute;
	left: 30px;
	bottom: -50px;
	width: 35px;
	height: 35px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
@media (max-width: 991px){
	.h-timeline-row {
		margin-left:15px;
		padding-bottom: 0; 
		padding-left: 30px;
		border-bottom: 0; 
		padding-top: 0;
		border-left: 1px solid #e8e8e8;
	}
	.h-timeline-row .entry  { margin-bottom: 30px; }
	.h-timeline-row .entry .entry-icon {
		position: absolute;
		left: -48px;
		bottom: 100%;
		margin-bottom: -45px;
	}
	.h-timeline-row .entry:after, .h-timeline-row .entry:before {
		top: 20px;
		left: -16px;
	}
	.h-timeline-row .entry:after {
		border-top-color: transparent;
		border-right-color: #fff;
		border-width: 8px;
		margin-left: 0px;
		margin-top: 0;
	}
	.h-timeline-row .entry:before {
		border-top-color: transparent;
		border-right-color: #ccc;
		border-width: 9px;
		margin-left: -2px;
		margin-top: -1px;;
	}
}
